<div class="box-container">
  <h4>General Knowledge Content</h4>
  <form (ngSubmit)="onSubmit()">
  <select class="form-group" [(ngModel)]="data.category" name="category">
    <option>--categories--</option>
    <option *ngFor="let cat of categories" [value]="cat.category">{{cat.category}}</option>
  </select>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="data.content_name" name="content_name" placeholder="content"/>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="data.answer" name="answer" placeholder="answer"/>
  </div>
  <button *ngIf="!isUpdate" type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Add</button>
  <button *ngIf="isUpdate" (click)="update()" class="btn btn-success"><i class="fa fa-pencil"></i> Update</button>
  <button *ngIf="isUpdate" (click)="cancel()" class="btn btn-info">x Cancel</button>
</form>
  <table class="table table-striped">
    <tr>
      <th>S.N</th>
      <th>Content</th>
      <th>Answer</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let item of items">
      <td>1.</td>
      <td>{{item.content_name}}</td>
      <td>{{item.answer}}</td>
      <td>{{item.category}}</td>
      <td><a href="javascript:void(0)" (click)="edit(item.id)" class="btn btn-primary btn-sm" title="Update"><i class="fa fa-pencil"></i></a><a href="javascript:void(0)" (click)="delete(item)" class="btn btn-danger btn-sm" title="Delete"><i class="fa fa-trash"></i></a></td>
    </tr>
  </table>
</div>