.container{
    background-color: #fafafa;
    padding: 15px;
    height: 600px;
}
form{
    width: 500px;
    padding-left: 20px;
}
.btn{
    background-color: rgb(1, 104, 82);
    color: #fafafa;
}
.btn:hover{
    background-color: rgb(1, 87, 68);
    color: #fafafa;
}