<div class="container">
  <h4>Update Vacancy:</h4>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Title:</label>
      <input type="text" class="form-control" [(ngModel)]="data.title" name="title"/>
    </div>
    <div class="form-group">
      <label>Published Date:</label>
      <input type="date" class="form-control" [(ngModel)]="data.pub_date" name="pub_date"/>
    </div>
    <div class="form-group">
      <label>File URL:</label>
      <input type="text" class="form-control" [(ngModel)]="data.file_url" name="file_url"/>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
