
    <div class="container">
            <h4>Home</h4>
            <div class="row">
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body">
                        <h4>Category</h4>
                        <span>10</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body">
                        <h4>GK</h4>
                        <span>23</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="card card3">
                        <h4>Notice</h4>
                        <span>12</span>
                    </div>
                </div>
            </div>
        </div>